src/main/app/salesforce-connect-sc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="salesforce-connect-sc-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="salesforce-connect-sc-config" raml="salesforce-connect-sc.raml" consoleEnabled="false" doc:name="Router" />
    <sfdc:config name="Salesforce__Basic_Authentication" username="steven.cisneros@bitsinglass.com" password="BitsInGlass2018" securityToken="M9hfphcWpBcd9yMMnpIciAnQ8" doc:name="Salesforce: Basic Authentication" />
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="salesforce-connect-sc-main">
        <http:listener config-ref="salesforce-connect-sc-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="salesforce-connect-sc-config" doc:name="APIkit Router" />
        <exception-strategy ref="salesforce-connect-sc-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="salesforce-connect-sc-console">
        <http:listener config-ref="salesforce-connect-sc-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="salesforce-connect-sc-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/accounts:salesforce-connect-sc-config">
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Id,AccountNumber,Name,Phone,BillingState FROM Account" doc:name="Salesforce"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="get:/accounts/{id}:salesforce-connect-sc-config">
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.get('id')]" doc:name="id"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT AccountNumber,BillingState,Id,Name,Phone FROM Account WHERE Id = '#[flowVars.id]'" doc:name="Salesforce"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <choice doc:name="Choice">
            <when expression="#[!payload.equals(&quot;[]&quot;)]">
                <set-payload value="#[payload]" doc:name="Retrieve Account"/>
            </when>
            <otherwise>
                <set-property propertyName="http status code " value="404" doc:name="HTTP status code 404"/>
                <set-payload value="There is no account associated with this ID " doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="delete:/accounts/{id}:salesforce-connect-sc-config">
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.get('id')]" doc:name="id"/>
        <set-payload value="#[[flowVars.id]]" doc:name="Set Payload"/>
        <sfdc:delete config-ref="Salesforce__Basic_Authentication"  doc:name="Salesforce"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Delete response = #[payload], Payload ID = #[payload.id]" level="INFO" doc:name="delete account "/>
        <choice doc:name="Choice">
            <when expression="#[payload.id == null]">
                <set-payload value="the account with the id #[flowVars.id]" doc:name="account deleted "/>
            </when>
            <otherwise>
                <set-property propertyName="http status code " value="409" doc:name="HTTP Status 409"/>
                <set-payload value="The account could not successfully be deleted" doc:name="account was not deleted "/>
            </otherwise>
        </choice>
    </flow>
    <flow name="post:/accounts:salesforce-connect-sc-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
        <set-payload value="{&quot;message&quot;: &quot;Company was added&quot;}" doc:name="Set Payload" />
    </flow>
    <apikit:mapping-exception-strategy name="salesforce-connect-sc-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="put:/accounts/{id}:salesforce-connect-sc-config">
        <set-payload value="The account has been updated" doc:name="Set Payload"/>
    </flow>
</mule>
